@model List<OrganizationModel>
@{
    ViewData["Title"] = "Oganization";
    Layout = "~/Views/Shared/_Layout_Dashboard.cshtml";
}
<script>
document.getElementById("HeaderTopic").innerHTML = "Oganization";
</script>

<div id="chartDiv" style="width: 100%; height: 600px; margin: 0px auto; overflow: hidden"></div>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Designation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].ReportingManager)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Designation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReportingManager)
                </td>
            </tr>
        }
    </tbody>
</table>



@*<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="~/js/Organized/organize.js"></script>*@



@*<script type="text/javascript" src="../jsc/jscharting.js"></script>
    <script type="text/javascript" src="../jsc/modules/types.js"></script>*@



@*@foreach (var m in Model)
    {<div>
            @{
                var strImg = "~/Img/Emp/" + m.ID.ToString() + ".jpg";
                <img src="@Url.Content(strImg)" class="img-thumbnail" alt="automate logo" style="width:50px;">
            }

        </div>

    }*@

